.javaScriptPage {
  min-height: var(--content-height);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 70px;
}

.title {
  text-align: center;
}

.info {
  margin: 0;
}

.bold {
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  .javaScriptPage {
    padding: 0 10px;
  }
}