html,
body {
  height: 100%;
}

main {
  min-height: 100%;
}

body {
  margin: 0 auto;
  min-width: 320px;
  box-sizing: border-box;
  background: linear-gradient(123deg, #2c2c2c 0%, #1c1c1c 100%);
  color: #e4e4e4;
}

:root {
  --header-height: 70px;
  --footer-height: 100px;
  --content-height: calc(100vh - var(--header-height) - var(--footer-height));
  --desktop-width: 1200px;
  --laptop-width: 800px;
  --mobile-width: 450px;
  /* colors */
  --color-primary: #3484d4;
  --color-secondary: #9b59b6;
  --color-info: #17a2b8;
  --color-title: #00c4f0;
  --color-subtitle: #3484d4;
  --color-text: #e4e4e4;
  --color-text-invert: #151616;
  --color-error: #e74c3c;
  --color-success: #27ae60;
  --color-warning: #f39c12;
}

a,
.link {
  color: #e4e4e4;
  text-decoration: none;
}

.link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.link_active {
  color: #bdbdbd;
  text-shadow: 0 0 10px #fff;
}

a:hover {
  opacity: 0.7;
  transition: 0.3s;
}
